/* CSS Document */


	/*********   FONTS SETTINGS
		**/
#content_heading {
  font-family : courier new;
  color: #4682B4;
  font-size: 2.0em;
  text-align: center;
  font-variant: small-caps;
  font-weight: bold; 
}


 body {
    background-color: F3F3F3 }

h1 {
	font-size: xx-large;
	color: #778899;
	margin-top: 0px;
}
h2 {
	font-size: x-large;
	color: 	#778899;
	margin-top: 30px;
	margin-left: 300px;
}
h3 {
	font-size: large;
	color: #8470FF;
	margin-top: 4px;
	margin-left: 150px;
}
h3b {
	font-size: large;
	margin-left: 80px;
	font-style: bold;
}
h3c {
	font-size: medium;
	margin-left: 10px;
	font-style: italic;
}
h3d {
	font-size: medium;
	front-weight:large;
	margin-left: 50px;

}
h3e{
	font-size: medium;
	front-weight:large;

}

h3b {
	font-size: large;
	margin-left: 0px;
	font-style: bold;
	front-weight:large;
}

h4 {
	font-size: medium;
	color: #778899;
	margin-top: 0px;
}
h5 { 
	font-size: x-small;
	margin-top: 0px;
	color: #778899;
}
h6 { 
	font-weight: x-large;
	margin-left: 40px;
	color: #778899;
}

A:link { text-decoration: none} 
A:visited { text-decoration: none} 
A:hover { text-decoration: none; color:rgb(0,0,255)}



	/*********   IMAGES AND LOCATION
		**/
.pic {
	width: 170px; 		# originally 220
	height: 210px;		# 
	}
.mac {
	width: 190px; 
	height: 120px;
	}
.flag {
    width: 6x
    height: 4px
}	

.left{
	text-align: left;
	}
.right{
	text-align: right;
	}
.center{
	text-align: center;
	}
	

	/*********   PARAMETERS FOR THE HEAD IMAGES
		**/
#front_div {
	position: static;
	height: 160px; 
	margin-top: 10px;
	margin-left: 120px;
	margin-right: 120px;
	margin-bottom: auto;	
	}
#front_div table
{
	height: 100%;
	width: 100%;
	padding: 0px;
	}
#front_div td{
	width:50%;
	vertical-align: top;
	}



	/*********   CONTENU
		**/

	
#contenu_div{
	position: static;
	margin-top: 5px;
	margin-left: 130px;
	margin-right: 130px;
	margin-bottom: auto;
	padding: 2px; 	
	font-size: 1em;
	}







	/*********   PARAMETERS FOR THE FOOT NOTE
		**/
#note_div{
	position: static;
	margin-top: 2px;
	margin-left: 120px;
	margin-right: 120px;
	margin-bottom: auto;	
	}



	/*********   PARAMETERS FOR THE MENU
		**/
#menu_div table{
	height: 10%;
	width: 100%;
}	
#menu_div td{
	width:16%;
	vertical-align: top;
	text-align: center;
	background-color: blue;
	color: black;
	border: 2px solid;
	}

#menu_div{
	position: static;
	margin-top: 5px;
	margin-left: 120px;
	margin-right: 120px;
	margin-bottom: auto;
	padding: 0px;
	}
#menu_div a {
	color: white; 
}

#hautdepage {   /* fleche de retour vers le haut */
    bottom: 40%;    /* Position de la fleche */
    right: 6px;     /* Position de la fleche */
    width: 68px;   /* Taille de la fleche */
    height: 69px;  /* Taille de la fleche */
}
body > #hautdepage {    /* fleche de retour vers le haut */
    position: fixed;    /* Position de la fleche */
}